body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 36px;
}

html {
  background-image: url("static/background.jpg");
  background-repeat: no-repeat;
}


  /*font-family: 'Raleway', sans-serif;*/
