body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px;
  background-position: center;
}


html {
  background-repeat: no-repeat;
  background-position: center;
}

}


.g-signin2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}
