body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 36px;
}
<<<<<<< HEAD
h1 {
  color: 'blue'
}
=======

  /*font-family: 'Raleway', sans-serif;*/
>>>>>>> d9ec1f4af1095f0324398d0153631157c590a1c5
