<DOCTYPE! html>
<html>
<head>
  <title>N.R.K.</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/about.css"/>
  <style type="text/css">a {text-decoration: none}</style>
  <link href="https://fonts.googleapis.com/css?family=Rajdhani|Raleway" rel="stylesheet">
</head>
<body>
  <h1>Yo.</h1>
  <p class="snippet">We are the three humans who developed this lovely web app!
    Checked is an app aimed to motivate you while you check off your day.</p>
  <br />
  <div class="avatars">
    <img src="static/nick.jpg" height=450 width=450 alt="Picture of Nick" />
    Nick. 18 year old student attending Arizona State University
      for Computer Science.
    <br />
    <br />
    <img src="static/rebecca.jpg" alt="Picture of Rebecca" />
    Rebecca. 18 year old student attending Parsons School of Design at The New
      School for Design and Technology.
    <br />
    <br />
    <img src="static/kazandra.jpg" height=450 width=450 alt="Picture of Kazandra" />
    Kazandra. 18 year old student attending Claremont McKenna College for Math and
      Computational Biology with an emphasis on Computer Science.
  </div>
</body>
</html>
