<DOCTYPE! html>
<html>
  <head>
  <title>N.R.K.</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/about.css"/>
  <style type="text/css">a {text-decoration: none}</style>
  <link href="https://fonts.googleapis.com/css?family=Rajdhani|Raleway" rel="stylesheet">
  </head>
  <body>
    <h1>Yo.</h1>
    <p class="snippet">We are the three humans who developed this lovely web app!
      Checked is an app aimed to motivate you while you check off your day. Scroll
      down to learn more about us and why we created this site.</p>
    <br />
    <div class="avatars">
      <figure><img src="static/nick.jpg" height=450 width=450 alt="Picture of Nick" />
      <figcaption>Nick. 18 year old student attending Arizona State University
        for Computer Science.</figcaption></figure>

      <figure><img id="image" src="static/rebecca.jpg" alt="Picture of Rebecca" />
      <figcaption>Rebecca. 18 year old student attending Parsons School of Design at The New
        School for Design and Technology.</figcaption></figure>

      <figure><img id="image" src="static/kazandra.jpg" height=450 width=450 alt="Picture of Kazandra" />
      <figcaption>Kazandra. 18 year old student attending Claremont McKenna College for Math and
        Computational Biology with an emphasis on Computer Science.</figcaption></figure>

        <figure><img id="image" src="static/cssi.jpg" height=390 width=450 alt="Picture of CSSI logo" />
        <figcaption>Google's Computer Science Summer Institute is 3-week summer program for
          incoming college freshmen who are interested in studying computer science. This web app
          is our final project for the program.</figcaption></figure>

        <h3><a href="https://www.checkedcssiproject.appspot.com/home"><font color="black">get me back to checking</font></a></h3>
  </div>
  </body>
</html>
