<DOCTYPE! html>
<html>
<head>
  <title>N.R.K.</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/about.css"/>
  <style type="text/css">a {text-decoration: none}</style>
  <link href="https://fonts.googleapis.com/css?family=Rajdhani|Raleway" rel="stylesheet">
</head>
<body>
  <h1>Yo.</h1>
  <p class="snippet">We are the three humans who developed this lovely web app!
    Checked is an app aimed to motivate you while you check off your day.</p>
  <br />
  <div class="avatars">
    <img src="nick.jpg" alt="Picture of Nick" />
    <img src="rebecca.jpg" alt="Picture of Rebecca" />
    <img src="kazandra.jpg" alt="Picture of Kazandra" />
  </div>
</body>
</html>
