<DOCTYPE! html>
<html>
  <head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <form method="post" action ="">
       <h3>Enter an event list or goal: <input type="text" name="main"/></h3>
    <br>
      <p><input type="submit" value="Submit">
        <input type="reset" value="Reset"></p>
    </br>
</form>
  </head>
  <body>
    <h3>Welcome to the list page!<h3>
      <p>When you enter the event of your choosing, it will be stored in
        this database.</p>
      <ul>
        <li>
