<DOCTYPE! html>
<html>



  <head>


    <title>Checked.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/checked.css"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <style type="text/css">a {text-decoration: none}</style>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani|Raleway" rel="stylesheet">
  </head>
  <body id="home">
    <br />
    <br />
    <center>
    <h1 id="name"><center><font color="white">Checked.</font></center></h1>
    <br />
    <h4 id="description"><center><font color="white">An interactive website to help motivate your daily schedule</font></center></h4>
    <h5 id="poweredby"><center><font color="white">Presented to you by <a href="https://www.checkedcssiproject.appspot.com/about"><font color="white">N.R.K.</font></a></font></center></h5>

<!--
    <label class="switch">
      <input type="checkbox">
      <div class="slider round"></div>
    </label>
-->


    </center>

<link rel="stylesheet" href="static/practice.css">
<script type="text/javascript" src="static/practice.js"></script>



<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>

<!-- The Timeline -->

<ul class="timeline">

	<!-- Item 1 -->
	<li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Sunday</span>
				<span class="time-wrapper"><span class="time"></span></span>
			</div>


      <div class="desc"><div id="myDIV" class="header">
        <h2>Enter goal(s) for the day</h2>
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn">Add</span>
      </div>

      <ul id="myUL">

      </ul></div>
		</div>


  </li>

	<!-- Item 2 -->
  <li>
		<div class="direction-l">
			<div class="flag-wrapper">
				<span class="flag">Monday</span>
				<span class="time-wrapper"><span class="time"></span></span>
			</div>


      <div class="desc"><div id="myDIV" class="header">
        <h2>Enter goal(s) for the day</h2>
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn">Add</span>
      </div>

      <ul id="myUL">

      </ul></div>
		</div>


  </li>

	<!-- Item 3 -->
  <li>
		<div class="direction-r">
			<div class="flag-wrapper">
				<span class="flag">Tuesday</span>
				<span class="time-wrapper"><span class="time"></span></span>
			</div>


      <div class="desc"><div id="myDIV" class="header">
        <h2>Enter goal(s) for the day</h2>
        <input type="text" id="myInput" placeholder="Title...">
        <span onclick="newElement()" class="addBtn">Add</span>
      </div>

      <ul id="myUL">

      </ul></div>
		</div>


  </li>



<!-- Item 4 -->
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="flag">Wednesday</span>
      <span class="time-wrapper"><span class="time"></span></span>
    </div>


    <div class="desc"><div id="myDIV" class="header">
      <h2>Enter goal(s) for the day</h2>
      <input type="text" id="myInput" placeholder="Title...">
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">

    </ul></div>
  </div>


</li>






<!-- Item 5 -->

<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="flag">Thursday</span>
      <span class="time-wrapper"><span class="time"></span></span>
    </div>


    <div class="desc"><div id="myDIV" class="header">
      <h2>Enter goal(s) for the day</h2>
      <input type="text" id="myInput" placeholder="Title...">
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">

    </ul></div>
  </div>


</li>


<!-- Item 6 -->
<li>
  <div class="direction-l">
    <div class="flag-wrapper">
      <span class="flag">Friday</span>
      <span class="time-wrapper"><span class="time"></span></span>
    </div>


    <div class="desc"><div id="myDIV" class="header">
      <h2>Enter goal(s) for the day</h2>
      <input type="text" id="myInput" placeholder="Title...">
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">

    </ul></div>
  </div>


</li>


<!-- Item 7 -->
<li>
  <div class="direction-r">
    <div class="flag-wrapper">
      <span class="flag">Saturday</span>
      <span class="time-wrapper"><span class="time"></span></span>
    </div>


    <div class="desc"><div id="myDIV" class="header">
      <h2>Enter goal(s) for the day</h2>
      <input type="text" id="myInput" placeholder="Title...">
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">

    </ul></div>
  </div>


</li>
</ul>

  <a href="#" onclick="signOut();">Sign out</a>

  <a href="#" onclick="signOut();"><button class="signOut"><img src="static/googleG.png" width=19px height=19px alt="Google Logo"/> &nbsp  &nbsp Sign Out</button></a>
<script>
  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }
</script>


<br />

</body>
</html>
