<DOCTYPE! html>
<html>
  <head>
    <title>Checked.</title>
    <link rel="stylesheet" href="/static/checked.css"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <style type="text/css">a {text-decoration: none}</style>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani|Raleway" rel="stylesheet">
  </head>
  <body id="home">
    <center>
    <h3><center><font color="white">Checked</font></center></h3>
    <h4><center><font color="white">An interactive website to help motivate your daily schedule</font></center></h4>
    <h5><center><font color="white">Presented to you by N.R.K.</font></center></h5>
<!--
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/static/checked.js"></script>
    <div id="example5.3" style="height: 150px;"></div>
    <form method="post" action ="">
       <h3>Enter an event list or goal: <input type="text" name="main"/></h3>
    <br>
      <p><input type="submit" value="Submit">
        <input type="reset" value="Reset"></p>
-->

    </center>
<link rel="stylesheet" href="/static/practice.css">
  <ol>
    <li>
    12am/pm
      <span class="details">
        <form action="addEvent" method="post">
          <h3>Enter a goal for the day:
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    1am/pm
      <span class="details">
        <form action="addEvent" method="post">
          Enter a goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    2am/pm
      <span class="details">
        <form action="addEvent"= method="post">
          Enter a goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    3am/pm
      <span class="details">
        <form action="addEvent" method="post">
          Enter a goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    4am/pm
      <span class="details">
        <form action="" method="post">
          Enter a goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    5am/pm
      <span class="details">
        <form action="" method="post">
          Enter goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    6am/pm
      <span class="details">
        <form action="" method="post">
          Enter a goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    7am/pm
      <span class="details">
        <form action="" method="post">
          Enter a goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    8am/pm
      <span class="details">
        <form action="" method="post">
          Enter a goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    9am/pm
      <span class="details">
        <form action="" method="post">
          Enter a goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    10am/pm
      <span class="details">
        <form action="" method="post">
          Enter a goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
    <li>
    11am/pm
      <span class="details">
        <form action="" method="post">
          Enter a goal for the day:<br>
          <input type="text" name="main" value=""><br>
          <input type="submit" value="Submit">
          <input type="reset" value="Reset">
        </form>
      </span>
    </li>
  </ol>
</body>
</html>
