<DOCTYPE! html>
<html>
  <head>
    <title>Checked.</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/checked.css"/>
    <style type="text/css">a {text-decoration: none}</style>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani|Raleway" rel="stylesheet">
  </head>

  <body background="static/road.jpg">

<center>
<div id="signin">
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="146252904000-534tcop89g45077l8td7sjbc9omdrp87.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>
</div>
</center>
  <body background="static/background.jpg">
    <center>
    </center>
  </body>
</html>
