<DOCTYPE! html>
<html>
  <head>
    <title>Checked.</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/checked.css"/>
    <style type="text/css">a {text-decoration: none}</style>
    <link href="https://fonts.googleapis.com/css?family=Rajdhani|Raleway" rel="stylesheet">
  </head>
  <body background="static/road.jpg">

  </body>


<center>
<head>
  <title>Checked.</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="static/checked.css"/>
  <style type="text/css">a {text-decoration: none}</style>
  <link href="https://fonts.googleapis.com/css?family=Rajdhani|Raleway" rel="stylesheet">


    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="146252904000-534tcop89g45077l8td7sjbc9omdrp87.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>


  </head>

  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
        window.location.replace("http://checkedcssiproject.appspot.com/home");
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script>


<body background="static/road.jpg">

  </body>
</center>
</html>
