<DOCTYPE! html>
<html>
  <head>
    <title>Checked</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <h2>Welcome to Checked!</h2>
    <div align=center>
      <form method="post" action=post-message>
        <textarea name = "text" cols=60, rows=5/></textarea>
    <p><input type = "submit"></p>
    <div id="_giphy_tv"></div>
    <script>
      var _giphy_tv_tag="celebration";
      var g = document.createElement('script'); g.type = 'text/javascript'; g.async = true;
      g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'giphy.com/static/js/widgets/tv.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(g, s);
    </script>
  </body>
</html>
